<div class="flex-item top-layout">
    <div class="flex-container-row">
        <div class="top-left-layout">
            <img width="30vw" height="50%" style="padding: 13px;" src="assets/icons/LuCAS_symbol_blue.png">
            <h2>JUNO</h2>
        </div>
        <div class="top-right-layout">
            <div style="float: right;">
                <div class="flex-container-row top-menu-info-container" style="padding: 0px 6px 0px 0px;">
                    <div class="flex-item-row-info">
                        <span class="patient-info" style="font-size: 11px;line-height: 0.8rem;cursor: default;">
                            {{userId}} ({{permission}})
                        </span><br/>
                        <ng-container *ngIf="permission == 'DEVELOPER' || permission == 'ADMINISTRATOR'">
                            <span style="cursor: default;">Server Storage ({{diskTotalUsage}}GB/{{diskTotalSpace}}GB)</span>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="permission === 'ADMINISTRATOR' || permission === 'DEVELOPER'">
                        <toolbar-pacs class="top-menu-tools-container" *ngIf="permission === 'DEVELOPER'"></toolbar-pacs>
                        <toolbar-users class="top-menu-tools-container"></toolbar-users>
                        <toolbar-settings class="top-menu-tools-container"></toolbar-settings>
                        <toolbar-about class="top-menu-tools-container"></toolbar-about>
                        <toolbar-logout class="top-menu-tools-container" (click)="showLogoutModal()"></toolbar-logout>
                    </ng-container>
                    <ng-container *ngIf="permission === 'PHYSICIAN'">
                        <toolbar-settings class="top-menu-tools-container"></toolbar-settings>
                        <toolbar-about class="top-menu-tools-container"></toolbar-about>
                        <toolbar-logout class="top-menu-tools-container" (click)="showLogoutModal()"></toolbar-logout>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
