<ng-container>
    <div id="icon_study_download down" class="flex-item-row top-menu-tools-container">
        <div title="Pacs" class="flex-top-menu-tools-icon-item-row">
            <mat-icon id="icon_download_down" class="top-menu-tools-icon-button">cloud_download</mat-icon>
        </div>
        <div class="flex-top-menu-tools-icon-item-text">Pacs</div>
    </div>
</ng-container>

<!-- <div *ngIf="permission=='ADMINISTRATOR' || permission==''" class="flex-item-row top-menu-tools-container" (click)="openUserListModal()">
    <div title="Users" class="flex-top-menu-tools-icon-item-row-clr">
        <clr-icon id="icon_users" shape="users" class="top-menu-tools-icon-button-clr"></clr-icon>
    </div>
    <div class="flex-top-menu-tools-icon-item-text">Users</div>
</div> -->