.report_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.8%;
    padding-right: 14px;
}

.report_image2{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 95%;
    max-height: 95%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.error-image{
    display: flex;
    justify-content: center;
    margin-top: 2.25vw;
}
.custom-btn {
    cursor: pointer;
    display: block;
    -webkit-appearance: none !important;
    border-radius: 0.125rem;
    border: 1.2px solid rgb(126, 126, 126);
    max-width: 8vw;
    max-height: 1.8vw;
    min-height: 1.8vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.073em;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 500;
    background-color: transparent;
    color: rgb(126, 126, 126);
    float: right;
}

.custom-btn:hover {
    border: 2px solid rgb(126, 126, 126);
    font-weight: 700;
}

.btn-container{
    position: fixed;
    bottom: 2.5%;
    right: 1%;
    padding: 1rem 3.5rem 0 0;
}
.btn-container2{
    padding: 0 1.8rem 0.5rem 0;
}
.img-btn-container .blankbox {
    height: 2.25vw;
    margin-right: 1.8rem;
    display: flex;
    align-items: center;
}
.img-btn-container .blankbox .tag{
    font-size: 1.2rem;
    
}
.img-btn-container .blankbox .confirm-user-name{
    padding-left: 5px;
    margin-right: 1px;
}

.img-btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    /* justify-content: flex-end; */
}

::ng-deep snack-bar-container.custom-snackbar{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 12%;
    bottom: 0.1%;
    align-items: center;
}

::ng-deep .mat-simple-snackbar{
    font-size: 1vw;
}

@media (max-width: 1224px) {
    .img-btn-container{
        max-height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10%
    }
    .error-image {
        max-height: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding-top: 12.6%;
    }
    .btn-container2{
        padding: 0.5rem 0.7rem 0.5rem 0;
    }
    .custom-btn{
        min-height: 2.2vw;
    }

    ::ng-deep snack-bar-container.custom-snackbar{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 15px; */
        position: absolute;
        right: 8%;
        bottom: 3%;
        /* max-width: fix-content;
        padding: 14px 0.5vw; */
    }
    ::ng-deep .mat-simple-snackbar{
        font-size: 1.3vw;
    }
}