.report_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.8%;
    padding-right: 14px;
}

.report_image2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 95%;
    max-height: 95%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* img{
    max-width: 95%;
    max-height: 95%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}  */

.report_image2 .image_wrapper {
    /* width:790px; 
    height:790px; */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.error-image{
    display: flex;
    justify-content: center;
    margin-top: 2.25vw;
}
.custom-btn {
    cursor: pointer;
    display: block;
    -webkit-appearance: none !important;
    border-radius: 0.125rem;
    border: 1.2px solid rgb(126, 126, 126);
    max-width: 8vw;
    max-height: 1.8vw;
    min-height: 1.8vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.073em;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 500;
    background-color: transparent;
    color: rgb(126, 126, 126);
    float: right;
}

.custom-btn:hover {
    border: 2px solid rgb(126, 126, 126);
    font-weight: 700;
}

.btn-container{
    position: fixed;
    bottom: 2.5%;
    right: 1%;
    padding: 1rem 3.5rem 0 0;
}
.btn-container2{
    padding: 0 0.7rem 0.5rem 0;
}
.img-btn-container .blankbox {
    height: 2.25vw;
    margin-right: 0.7rem;
    display: flex;
    align-items: center;
}
.img-btn-container .blankbox .tag{
    font-size: 1.2rem;
    
}
.img-btn-container .blankbox .confirm-user-name{
    padding-left: 5px;
    margin-right: 1px;
}

.img-btn-container{
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    /* justify-content: flex-end; */
}

.loading span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    animation: loading 1s 0s linear infinite;
    /* 이벤트명 반복시간 딜레이시간 이번트처리 부드럽게 이벤트무한반복 */
    /* 밑에서 'loading'이라는 이름으로 @keyframes 정의 */
}

.loading span:nth-child(1) {
    animation-delay: 0s;
    background-color: white;
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: gray;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: black;
}

/* @keyframe을 사용하여 이벤트를 만든다. */
@keyframes loading {
    0%,
    100% {
        opacity: 0;             /* 안보였다가 */
        transform: scale(0.5);  /* transform의 scale로 요소를 확대 또는 축소할 수 있음 */
    }
    50% {
        opacity: 1;             /* 보였다가 */
        transform: scale(1.2); /* 1.2배 */
    }
}

::ng-deep snack-bar-container.custom-snackbar{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 12%;
    bottom: 0.1%;
    align-items: center;
}

::ng-deep .mat-simple-snackbar{
    font-size: 0.8vw;
}




.spinner-box {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 45%;
    left: 75%;
}

.circle-border {
    width: 80px;
    height: 80px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    animation: spin .8s linear 0s infinite;
    margin-bottom: 15px;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}