<!-- <ng-template [ngIf]="isReceived" class="img-btn-container">
    <div class="error-image">
        <img src="{{error_report_img}}">
    </div>
</ng-template>

<ng-template [ngIf]="isAnalyzed" appMousewheelEvent>
    <div class="img-btn-container">
        <div class="btn-container2">
            <button class="custom-btn" (click)="confirm()">
                <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>&nbsp;Confirm
            </button>
        </div>
        <div class="report_image2">
            <img src="{{setImgPath()}}">
        </div>
    </div>
</ng-template> -->

<ng-container>
    <div class="img-btn-container">
        <div class="btn-container2" *ngIf="hasReport">
            <button class="custom-btn" (click)="confirm()">
                <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>&nbsp;Confirm
            </button>
        </div>
        <div class="blankbox" *ngIf="!hasReport"></div>
        <div class="report_image2">
            <img src="{{imgUrl$ | async}}" />
        </div>
    </div>
</ng-container>