<div class="flex-item top-layout">
    <div class="flex-container-row">
        <div class="top-left-layout">
            <h3>BEAT</h3>
        </div>
        <div class="top-right-layout">
            <div style="float: right;">
                <div class="flex-container-row" style="padding: 0px 6px 0px 0px;">
                    <toolbar-pacs class="top-menu-tools-container"></toolbar-pacs>
                    <toolbar-users class="top-menu-tools-container"></toolbar-users>
                    <toolbar-settings class="top-menu-tools-container"></toolbar-settings>
                    <toolbar-about class="top-menu-tools-container"></toolbar-about>
                    <toolbar-logout class="top-menu-tools-container"></toolbar-logout>
                    <!-- <toolbar-account-info
                        [isToolbarReady]="isToolbarReady"
                    ></h-toolbar-account-info> -->

                    <!-- <toolbar-pacs></toolbar-pacs> -->
                    <!-- <h-toolbar-users
                        [isToolbarReady]="isToolbarReady"
                    ></h-toolbar-users>
                    <h-toolbar-settings></h-toolbar-settings> -->
                    
                    <!-- <div class="flex-item-row top-menu-tools-container" (click)="showAboutDialog()">
                        <div title="About" class="flex-top-menu-tools-icon-item-row-clr">
                            <clr-icon id="icon_about" shape="event" class="top-menu-tools-icon-button-clr"></clr-icon>
                        </div>
                        <div class="flex-top-menu-tools-icon-item-text">About</div>
                    </div>
                    <div class="flex-item-row top-menu-tools-container" (click)="showLogoutModal()">
                        <div title="About" class="flex-top-menu-tools-icon-item-row-clr">
                            <clr-icon id="icon_logout" shape="logout" class="top-menu-tools-icon-button-clr"></clr-icon>
                        </div>
                        <div class="flex-top-menu-tools-icon-item-text">Logout</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
