<div class="flex-item top-layout">
    <div class="flex-container-row">
        <div class="top-left-layout">
            <img width="30vw" height="50%" style="padding: 13px;" src="assets/icons/LuCAS_symbol_blue.png">
            <h2>BEAT</h2>
        </div>
        <div class="top-right-layout">
            <div style="float: right;">
                <div class="flex-container-row top-menu-info-container" style="padding: 0px 6px 0px 0px;">
                    <div class="flex-item-row-info">
                        <span class="patient-info" style="font-size: 11px;line-height: 0.8rem;cursor: default;">
                            {{userId}} ({{permission}})
                        </span><br/>
                        <!-- <ng-container *ngIf="windowName !== 'monitor01'" >
                            <span (click)="openSyncFailedStudyModal()" *ngIf="syncFailedStudyExist()" class="study-upload-error-blinking">
                                Study Upload Error ({{syncFailedStudies.length}})
                            </span>
                        </ng-container> -->
                        <!-- <span *ngIf="syncFailedStudyExist()">&nbsp;&nbsp;&nbsp;</span> -->
                        <ng-container *ngIf="permission == '' || permission == 'ADMINISTRATOR'">
                            <span style="cursor: default;">Server Storage ({{diskTotalUsage}}GB/{{diskTotalSpace}}GB)</span>
                        </ng-container>
                    </div>
                    <toolbar-pacs class="top-menu-tools-container"></toolbar-pacs>
                    <toolbar-users class="top-menu-tools-container"></toolbar-users>
                    <toolbar-settings class="top-menu-tools-container"></toolbar-settings>
                    <toolbar-about class="top-menu-tools-container"></toolbar-about>
                    <toolbar-logout class="top-menu-tools-container"></toolbar-logout>
                </div>
            </div>
        </div>
    </div>
</div>
