.flex-container {
    color:whitesmoke;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.6rem;
}
.header .mat-icon-button .mat-icon{
    padding-bottom: 30px;
}

.header .new-study:hover{
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgb(131, 131, 131);
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: inherit;
    table-layout: fixed;
}
.modal-header-section {
    display: flex;
    justify-content: space-between;
}
.mat-header-cell {
    padding-left: 5px;
    border: 1px solid darkgray;
    text-align: left;
    background: #3d3d3d;
    color: whitesmoke;
}
  
.mat-form-field-infix {
    border-top: none;
}

tr.hospital-pacs-row {
    background: #212121;
}
tr.hospital-pacs-row:hover {
    background: #3d3d3d;
} 
.mat-cell {
    padding-left: 5px;
    font-size: 11px;
    line-height: 19px;
    color: lightgray;
    border: 1px solid #5a5a5a;
    text-align: left;
}
.mat-header-row {
    padding-left:5px;
    height: 20px;
    font-weight: bold;
}
.mat-row {
    padding-left:5px;
    height: 20px;
    cursor: pointer;
}

.study-table th.mat-header-cell:first-of-type, .study-table td.mat-cell:first-of-type{
    width: 24px;
    padding: 0 0 3px 3px;
}
.study-table th.mat-header-cell:last-of-type, .study-table td.mat-cell:last-of-type{
    padding: 0 0 0 6px;
}
.material-icons.filter-icon {
    font-size: small;
    color: gray;
    /* color: rgb(0, 113, 219); */
}
th .headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}
th .headers .filter-icon-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mat-column-patientID, .mat-column-patientName {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-creationTime, .mat-column-creationDate{
    flex: 0 0 10% !important;
    width: 10% !important;
}

.closeBtn {
    cursor: pointer;
}
::ng-deep .mat-dialog-container,::ng-deep .mat-paginator-container {
    background: #2b2b2b;
    color: #f2f2f2;
}