<div class="flex-container">
    <section class="header">
        <h2>Settings</h2>
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </section>
    <section class="settings">
        <form [formGroup]="receiveForm" (ngSubmit)="onSubmit_Re('receiveForm')">
            <div class="receive-group">
                <h3 class="title">Receive</h3>
                <div class="input-group">
                    <div class="content">Hospital PACS - AE</div>
                    <input class="pacs pacs-ae" type="text" placeholder="dd" formControlName="ae">
                    <div class="content">Hospital PACS - Host</div>
                    <input class="pacs pacs-user" type="text" placeholder="client" formControlName="ip">
                    <div class="content">Hospital PACS - Port</div>
                    <input class="pacs pacs-port" type="text" placeholder="port" formControlName="port">
                </div>
                <div class="save-test">
                    <button type="submit" mat-flat-button>SAVE & TEST</button>
                    <mat-spinner *ngIf="pacsConnectionChecking" class="check-for-integrity-spinner-custom" diameter="14"></mat-spinner>
                    <span *ngIf="!pacsConnectionChecking" class="test-result-string" [ngStyle]="isSuccess_re? {'color':'green'} : {'color':'red'}">{{reTestResult}}</span>
                    <!-- <span *ngIf="!isSuccess_re" style="color: red;" class="test-result-string">FAIL</span>
                    <span *ngIf="isSuccess_re" style="color: green;" class="test-result-string">OK</span> -->
                </div>
                    
                <!-- <mat-icon  *ngIf="!isSuccess" style="color: red" class="test-result-icon">cancel</mat-icon> -->
                <!-- <mat-icon  *ngIf="isSuccess" class="check-for-integrity-spinner-custom" style="color: green;">check_circle</mat-icon> -->
            </div>
        </form>
        <form [formGroup]="sendForm" (ngSubmit)="onSubmit_Se('sendFrom')">
            <div class="receive-group">
                <h3 class="title">Send</h3>
                <div class="input-group">
                    <div class="content">Hospital PACS - AE</div>
                    <input class="pacs pacs-ae" type="text" placeholder="dd" formControlName="ae">
                    <div class="content">Hospital PACS - Client</div>
                    <input class="pacs pacs-user" type="text" placeholder="client" formControlName="ip">
                    <div class="content">Hospital PACS - Port</div>
                    <input class="pacs pacs-port" type="text" placeholder="port" formControlName="port">
                </div>
                <div class="save-test">
                    <button type="submit" mat-flat-button>SAVE & TEST</button>
                    <mat-spinner *ngIf="pacsConnectionChecking_se" class="check-for-integrity-spinner-custom" diameter="14"></mat-spinner>
                    <span *ngIf="!pacsConnectionChecking_se" class="test-result-string" [ngStyle]="isSuccess_se? {'color':'green'} : {'color':'red'}">{{seTestResult}}</span>
                    <!-- <span *ngIf="!isSuccess_re" style="color: red;" class="test-result-string">FAIL</span>
                    <span *ngIf="isSuccess_re" style="color: green;" class="test-result-string">OK</span> -->
                </div>
            </div> 
        </form>
    </section>
</div>