.flex-container {
    color:rgb(219, 217, 217);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.6rem;
}
.header .mat-icon-button .mat-icon{
    padding-bottom: 30px;
}
.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.2rem;
}

.settings .title{
    font-size: 1.3rem;
    padding-left: 5px;
    padding-bottom: 5px;
}

.settings .input-group .content {
    color: #9a9a9a;
    font-size: 13px;
    font-weight: 600;
}
.settings .input-group .pacs {
    background: transparent;
    
    border: none;
    border-radius: 0;
    box-shadow: none;

    height: 1.5rem;
    display: inline-block;
    /* max-width: 2.5rem; */
    border-bottom: 1.5px solid #acacac;
    padding: 0 0.25rem;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 500;
    font-size: 0.83rem;
    color: #9a9a9a;
    transition: border-bottom 0.2s ease;
    margin-bottom: 28px;
}

.settings .input-group .pacs:focus {
    border-bottom: 1.5px solid #0094d2;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.settings .save-test{
    display: flex;
    margin: 0.5rem -1rem 0 0;
    align-items: center;
    justify-content: flex-end;
}
.mat-flat-button{
    border: 1px solid #525252;
    background-color: #212121;
    color: #fff;
    letter-spacing: 1px;
    /* margin: 1rem 0.5rem 0 0; */
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 0.5rem;
}

.mat-flat-button:hover{
    color: #959BA4;
}

.settings .save-test .test-result-string{
    font-size: 13px;
    font-weight: 600;
}

::ng-deep .check-for-integrity-spinner-custom{
    stroke: #959BA4 !important;
    /* margin: 0 3px; */
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white!important;
}