
<section class="header">
    <h2>User List</h2>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</section>
<section class="CRUser">
    <mat-form-field>
        <input matInput (input)="onSearch($event)" >
        <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="''">
            <span class="material-icons" style="font-size: 20px;">search</span>
        </button>
    </mat-form-field>
    <button mat-icon-button (click)="openCreateNewUserDialog()" title="Create new user">
        <span class="material-icons">add</span>
    </button>

    <!-- <mat-form-field class="search-form">
        <mat-label class="search-form-label">Input search word</mat-label>
        <input matInput (input)="onSearch($event)" >
        <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="''">
            <span class="material-icons" style="font-size: 20px;">search</span>
        </button>
    </mat-form-field> -->
</section>
<section class="user-table" style="background-color: black;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of columnsFromDB; let idx=index">
            <th mat-header-cell *matHeaderCellDef id="{{column}}">{{displayedTitle[idx]}}</th>
            <td mat-cell *matCellDef="let row"><nobr>{{row[column]}}</nobr></td>
        </ng-container>
        
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef = "let row">
                <div class="edit-buttons" style="display: flex;">
                    <button mat-icon-button (click)="openEditUserDialog(row)">
                        <span class="material-icons">create</span>
                    </button>
                    <button mat-icon-button (click)="deleteUser(row)">
                        <span class="material-icons">delete</span>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="invalid_password_count">
            <th mat-header-cell *matHeaderCellDef>Lockout</th>
            <td mat-cell *matCellDef = "let row">
                <ng-container *ngIf="row.invalid_password_count === 5">
                    <div title="Unlock Account" style="cursor:pointer" class="locked_account" (click)="unlockSelectedUsers(row)">
                        <i class="fa fa-lock icon-color" aria-hidden="true"></i>
                    </div>
                    <!-- <div style="padding-right:5px;"></div> -->
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
<mat-paginator [pageSize]="7" [hidePageSize]="true" class="user_table_pagination"></mat-paginator>