<div id="icon_settings" class="flex-item-row top-menu-tools-container" (click)="openUserSettingModal()">
    <div title="Pacs" class="flex-top-menu-tools-icon-item-row">
        <img class="top-menu-tools-icon-button" src="assets/icons/profile.svg">
    </div>
    <div class="flex-top-menu-tools-icon-item-text">Settings</div>
</div>

<!-- settings dialog -->
<!-- <div #userSettingDialog class="settings-dialog-container">

</div> -->

<!-- <ng-template #userSettingDialog>
    <form #userForm="ngForm">
        <h2 matDialogTitle>Add Organization</h2> 
            <input matInput type="text" placeholder="Your organization" name="organisationName" ngModel required >
            <input matInput type="text" name="enabled" ngModel required>          
        <mat-dialog-actions align="end">
            <button mat-button matDialogClose="no">Cancel</button>
            <button type="submit" mat-button>Submit</button>
        </mat-dialog-actions>
    </form>
</ng-template> -->