<!-- <h2 mat-dialog-title>{{description}}</h2>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
            formControlName="description">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select category" formControlName="category">
            <mat-option value="BEGINNER">
                Beginner
            </mat-option>
            <mat-option value="INTERMEDIATE">
                Intermediate
            </mat-option>
            <mat-option value="ADVANCED">
                Advanced
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
        Save
    </button>

</mat-dialog-actions> -->
<!-- <h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field>
        <mat-label>Favorite Animal</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button>
</div> -->

<p>hello</p>