<!-- Study List -->
<section class="table-info-section" [ngClass]="{filtering : hasFilterCondition}">
    <ng-container *ngIf="hasFilterCondition">
        <section class="filter-section">
            <span class="material-icons">filter_alt</span>
            <b>Filters</b>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let condition of filterObjForTemp | keyvalue"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(condition)">
                    <b>{{condition.key}} </b> :  &nbsp;{{condition.value}}
                    <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </section>
    </ng-container>
    <mat-paginator [pageSize]="50" [hidePageSize]="true" (page)="onSelectPage($event)"></mat-paginator>
</section>
<section style="background-color: black;" class="worklist-study-list mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" class="mat-cell" aria-label="Elements" class="mat-elevation-z8">
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef id="status" mat-sort-header>
                Status
                <!-- <div>
                    <button mat-icon-button class="filter-icon-btn" [matMenuTriggerFor]="status"><span class="material-icons filter-icon">filter_alt</span></button>
                </div> -->
                <div class="filter-icon-btn" [matMenuTriggerFor]="status" (click)="onStatusFilter($event, 0)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('status') ? '#0288D1': 'grey'}">filter_alt</span></div>
                <mat-menu #status>
                    <div matMenuContent style="display: flex; flex-direction: column;" [formGroup]="statusForm">
                        <mat-checkbox class="mat-menu-item" formControlName="ANALYZED" (click)="$event.stopPropagation();">Analyzed</mat-checkbox>
                        <mat-checkbox class="mat-menu-item" formControlName="REVIEWED" (click)="$event.stopPropagation();">Reviewed</mat-checkbox>
                        <mat-checkbox class="mat-menu-item" formControlName="RECEIVED" (click)="$event.stopPropagation();">Received</mat-checkbox>
                    </div>
                </mat-menu>
            </th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <ng-container matColumnDef="patient_id">
            <th mat-header-cell *matHeaderCellDef id="patient_id" mat-sort-header>
                Patient ID
                <!-- <button mat-icon-button class="filter-icon-btn"><span class="material-icons filter-icon">filter_alt</span></button> -->
                <div class="filter-icon-btn" (click)="onTextFilter($event, 1)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_id') ? '#0288D1': 'grey'}">
                    filter_alt</span>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">{{element.patient_id}}</td>
        </ng-container>
        <ng-container matColumnDef="patient_name">
            <th mat-header-cell *matHeaderCellDef id="patient_name" mat-sort-header>
                Patient Name
                <div class="filter-icon-btn" (click)="onTextFilter($event, 2)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('patient_name') ? '#0288D1': 'grey'}">filter_alt</span></div>
            </th>
            <td mat-cell *matCellDef="let element">{{element.patient.patient_name}}</td>
        </ng-container>
        <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef id="sex" mat-sort-header>Sex</th>
            <td mat-cell *matCellDef="let element">{{element.patient.patient_sex}}</td>
        </ng-container>
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef id="age" mat-sort-header>Age</th>
            <td mat-cell *matCellDef="let element">{{element.patient.patient_age}}</td>
        </ng-container>

        <ng-container matColumnDef="study_date">
            <th mat-header-cell *matHeaderCellDef id="study_date" mat-sort-header>
                Study Date
                <div class="filter-icon-btn" (click)="onTextFilter($event, 5)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('study_date') ? '#0288D1': 'grey'}">edit_calendar</span></div>
            </th>
            <td mat-cell *matCellDef="let element">{{element.study_date}}</td>
        </ng-container>
        <ng-container matColumnDef="analysis_date">
            <th mat-header-cell *matHeaderCellDef id="analysis_date" mat-sort-header>
                Analysis Date
                <div class="filter-icon-btn" (click)="onTextFilter($event, 6)"><span class="material-icons filter-icon"
                    [ngStyle]="{color: coloringFilterSymbol('analysis_date') ? '#0288D1': 'grey'}">edit_calendar</span></div>
            </th>
            <td mat-cell *matCellDef="let element">{{element.analysis_date}}</td>
        </ng-container>
        <ng-container matColumnDef="results">
            <th mat-header-cell *matHeaderCellDef id="results" mat-sort-header>Results</th>
            <td mat-cell *matCellDef="let element">{{element.results}}</td>
        </ng-container>
        <ng-container matColumnDef="volumes">
            <th mat-header-cell *matHeaderCellDef id="volumes" mat-sort-header>Volumes</th>
            <td mat-cell *matCellDef="let element">{{element.volumes}}</td>
        </ng-container>

        <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let idx=index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="{{column}}"><nobr>{{displayedTitle[idx]}}</nobr></th>
            <td mat-cell *matCellDef="let row" [ngClass]="{'reviewedStatus': row.status === 'Reviewed'}"><nobr>{{row[column]}}</nobr></td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="study-element-row" (dblclick)="onDblclick(row)" [ngClass]="getBackground(row)"></tr>
    </table>
</section>