.mat-table {
    overflow: scroll;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 8px;
}
.worklist-study-list{
    position: relative;
    /* top: -10px; */
    max-height: 83vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.mat-header-cell {
    font-size: 14px;
    padding-left: 5px;
    border: 1px solid darkgray;
    text-align: left;
    background: #3d3d3d;
    color: whitesmoke;
}

.mat-cell {
    font-size: 14px;
    line-height: 27px;
    color: lightgray;
    border: 1px solid #5a5a5a;
    text-align: left;
    /* background: #212121; */
    width: 100%;
    padding-left: 4px;
}
.mat-header-row {
    padding-left:5px;
    height: 20px;
    font-weight: bold;
}
.mat-row {
    padding-left:5px;
    height: 20px;
    cursor: pointer;
}
tr{
    background: #212121;
}
tr.study-element-row {
    height: 0;
}
/* tr.study-element-row :hover {
    background-color: #d33939;;
} */
.mat-row:hover{
    background-color: #3d3d3d;
}
/* tr.study-element-row:active {
    background: seagreen;
} */

table.mat-table {
    padding: 0px;
}

.mat-column-status {
    flex: 0 0 7% !important;
    width: 7% !important;
}
.mat-column-patient_id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-patient_name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-sex {
    flex: 0 0 5% !important;
    width: 5% !important;
}

.mat-column-results, .mat-column-volumes {
    flex: 0 0 7% !important;
    width: 7% !important;
}

.mat-column-age {
    flex: 0 0 6% !important;
    width: 6% !important;
}
.mat-column-study_date, .mat-column-analysis_date {
    flex: 0 0 15% !important;
    width: 15% !important;
}
  

::ng-deep .mat-paginator-container {
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: fit-content !important;
    max-height: 30px !important;
    padding: 0 0px !important;
    flex-wrap: wrap-reverse;
    width: 100%;
    background: #2b2b2b;
    color: lightgray;
}
::ng-deep .mat-paginator-range-label {
    font-size:13px ;
    margin: 0px !important;
}

/* .mat-paginator{
    color: whitesmoke;
    background:transparent;
}  */
/* .mat-paginator-container .mat-paginator-range-actions{
    color: whitesmoke;
    background-color:transparent;
} */
::ng-deep .mat-paginator-icon{
    width: 22px !important;
    fill: lightgray !important; 
    padding-left: 10px;
}