.table-info-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 36px;
    /* margin: 0.5rem 0 0.3rem 0; */
}
.table-info-section.filtering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0.3rem 0;
}
.filter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.filter-section .mat-chip-list {
    margin-left: 0.5rem;
    overflow: hidden;
}

::ng-deep .filter-section .mat-chip-list .mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
}
.filter-section .mat-chip-list .mat-chip {
    min-height: 28px;
    font-size: 13px;
    animation: fadein 1s;
    flex: 0 0 auto;
}
.mat-table {
    overflow: auto;
    table-layout: fixed;
    font-family: 'Montserrat', sans-serif;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 8px;
}
.worklist-study-list{
    position: relative;
    /* top: -10px; */
    max-height: 83vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.mat-header-cell {
    font-size: 0.7vw;
    padding-left: 5px;
    border: 1px solid darkgray;
    text-align: left;
    background: #3d3d3d;
    color: whitesmoke;
    line-height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-cell {
    font-size:  0.7vw;
    line-height: 27px;
    color: lightgray;
    border: 1px solid #5a5a5a;
    text-align: left;
    /* background: #212121; */
    width: 100%;
    padding-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mat-header-row {
    padding-left:5px;
    height: 20px;
    font-weight: bold;
}
.mat-row {
    padding-left:5px;
    height: 20px;
    cursor: pointer;
}
tr{
    background: #212121;
}
tr.study-element-row {
    height: 0;
}
/* tr.study-element-row :hover {
    background-color: #d33939;;
} */
.mat-row:hover{
    background-color: #3d3d3d;
}
.selectedRow{
    background-color: #6d4c41;
}
/* tr.study-element-row:active {
    background: seagreen;
} */

table.mat-table {
    padding: 0px;
}

.mat-cell.mat-column-status, .mat-column-status {
    flex: 0 0 9% !important;
    width: 9% !important;
}
.mat-cell.mat-column-patient_id, .mat-column-patient_id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-cell.mat-column-patient_name, .mat-column-patient_name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    width: 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-cell.mat-column-sex, .mat-column-sex {
    flex: 0 0 6% !important;
    width: 6% !important;
}

.mat-cell.mat-column-results, .mat-cell.mat-column-volumes {
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
}

.mat-cell.mat-column-age, .mat-column-age{
    flex: 0 0 6% !important;
    width: 6% !important;
}
.mat-cell.mat-column-study_date, .mat-cell.mat-column-analysis_date, .mat-column-study_date, .mat-column-analysis_date {
    flex: 0 0 20% !important;
    width: 20% !important;
}
.mat-sort-header-container{
    border-bottom: none !important;
}
::ng-deep .mat-sort-header-container{
    border-bottom: none !important;
}
.mat-paginator {
    background-color: #2b2b2b;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0.5rem !important;
}
::ng-deep .mat-paginator-container {
    position: relative;
    bottom: 0px;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    min-height: fit-content !important;
    max-height: 30px !important;
    padding: 0 0px !important;
    flex-wrap: wrap-reverse;
    width: 100%;
    background: #2b2b2b;
    color: lightgray;
    float: right;
}

::ng-deep .mat-paginator-range-label {
    font-size:13px ;
    margin: 0 0 0 0.5rem !important;
    min-width: fit-content;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: whitesmoke;
}
/* .mat-paginator{
    color: whitesmoke;
    background:transparent;
}  */
/* .mat-paginator-container .mat-paginator-range-actions{
    color: whitesmoke;
    background-color:transparent;
} */
::ng-deep .mat-paginator-icon{
    width: 22px !important;
    /* fill: lightgray !important;  */
    padding-left: 10px;
}

.mat-column-status .reviewedStatus{
    color: cornflowerblue;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
}

.filter-icon-btn{
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    /* margin-bottom: 2px; */
}

.material-icons.filter-icon {
    font-size: small;
    color: gray;
    /* color: rgb(0, 113, 219); */
}

::ng-deep .mat-sort-header-container .mat-sort-header-arrow {
    margin: 0 0 0 4px;
}

.mat-menu-content{
    display: flex;
    flex-direction: column;
}

/* ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #008055!important;
} */

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #008bc2;
}

.mat-menu-item {
    line-height: 38px;
    height: 38px;
}

::ng-deep .mat-menu-item .mat-checkbox-layout .mat-checkbox-inner-container {
    height: 15px !important;
    width: 15px !important;
}

/* Worklist Filter Dialog custom css */
.filter-text-dialog .mat-dialog-container {
    overflow: hidden;
    padding: 0px 20px;
}
.filter-text-dialog .mat-dialog-content {
    margin: none;
    padding: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}