.mat-table {
    overflow: auto;
    table-layout: fixed;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(245, 245, 245)
}

.CRUser {
    display: flex;
    justify-content: flex-end;
    color: rgb(189, 188, 188)
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 8px;
}


.mat-header-cell {
    font-size: 0.7vw;
    padding-left: 5px;
    border: 1px solid darkgray;
    text-align: left;
    background: #3d3d3d;
    color: whitesmoke;
    line-height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-cell {
    font-size:  0.7vw;
    line-height: 27px;
    color: lightgray;
    border: 1px solid #5a5a5a;
    text-align: left;
    /* background: #212121; */
    width: 100%;
    padding-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mat-header-row {
    padding-left:5px;
    height: 20px;
    font-weight: bold;
}
.mat-row {
    padding-left:5px;
    height: 20px;
}
tr{
    background: #212121;
}
tr.study-element-row {
    height: 0;
}

.selectedRow{
    background-color: #6d4c41;
}

table.mat-table {
    padding: 0px;
}

.mat-column-status {
    flex: 0 0 7.5% !important;
    width: 7.5% !important;
}
.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-permission {
    flex: 0 0 6% !important;
    width: 6% !important;
}

.mat-column-creation_timestamp {
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
}

.mat-column-institution {
    flex: 0 0 6% !important;
    width: 6% !important;
}
.mat-column-edit {
    flex: 0 0 5% !important;
    width: 5% !important;
}
  

/* ::ng-deep .mat-paginator-container {
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: fit-content !important;
    max-height: 30px !important;
    padding: 0 0px !important;
    flex-wrap: wrap-reverse;
    width: 100%;
    background: #2b2b2b;
    color: lightgray;
}
::ng-deep .mat-paginator-range-label {
    font-size:13px ;
    margin: 0px !important;
} */

/* .mat-paginator{
    color: whitesmoke;
    background:transparent;
}  */
/* .mat-paginator-container .mat-paginator-range-actions{
    color: whitesmoke;
    background-color:transparent;
} */
/* ::ng-deep .mat-paginator-icon{
    width: 22px !important;
    fill: lightgray !important; 
    padding-left: 10px;
} */

/* .mat-column-status .reviewedStatus{
    color: cornflowerblue;
} */

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
}