<div class="flex-container">
    <section class="header">
        <h2>Settings</h2>
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </section>
    <section class="settings">
        <form [formGroup]="receiveForm" (ngSubmit)="onSubmit_Re(receiveForm)">
            <div class="receive-group">
                <h3 class="title">Receive</h3>
                <div class="input-group">
                    <div class="content">Hospital PACS - AE</div>
                    <input class="pacs pacs-ae" type="text" placeholder="ae" formControlName="ae">
                    <div class="content">Hospital PACS - Host</div>
                    <input class="pacs pacs-user" type="text" placeholder="host" formControlName="ip">
                    <div class="content">Hospital PACS - Port</div>
                    <input class="pacs pacs-port" type="text" placeholder="port" formControlName="port">
                </div>
                <div class="save-test">
                    <button type="submit" mat-flat-button>SAVE & TEST</button>
                    <mat-spinner *ngIf="pacsConnectionChecking" class="check-for-integrity-spinner-custom" diameter="14"></mat-spinner>
                    <span *ngIf="!pacsConnectionChecking" class="test-result-string" [ngStyle]="isSuccessRe? {'color':'green'} : {'color':'red'}">{{reTestResult}}</span>
                </div>
            </div>
        </form>
        <form [formGroup]="sendForm" (ngSubmit)="onSubmit_Se(sendForm)">
            <div class="receive-group">
                <h3 class="title">Send</h3>
                <div class="input-group">
                    <div class="content">Hospital PACS - AE</div>
                    <input class="pacs pacs-ae" type="text" placeholder="ae" formControlName="ae">
                    <div class="content">Hospital PACS - Client</div>
                    <input class="pacs pacs-user" type="text" placeholder="client" formControlName="ip">
                    <div class="content">Hospital PACS - Port</div>
                    <input class="pacs pacs-port" type="text" placeholder="port" formControlName="port">
                </div>
                <div class="save-test">
                    <button type="submit" mat-flat-button>SAVE & TEST</button>
                    <mat-spinner *ngIf="pacsConnectionCheckingSe" class="check-for-integrity-spinner-custom" diameter="14"></mat-spinner>
                    <span *ngIf="!pacsConnectionCheckingSe" class="test-result-string" [ngStyle]="isSuccessSe? {'color':'green'} : {'color':'red'}">{{seTestResult}}</span>
                </div>
            </div> 
        </form>
    </section>
</div>

