.main-container{
    display: flex;
}
.study-list-container{
    width: 55%;
}
.report-container {
    width: 45%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.study-list-container, .report-container {
    margin-left: 1%;
    padding-right: 1%;
    /* border-right:1px solid red; */
}
/* .report-container .section-title {
    position: fixed;
    right: 33%;
    top: 7%;
} */
.section-title{
    display: inline-block;
    margin-top: 8px;
    font-size: 1.25rem;
    color: rgb(214, 212, 212);
    padding-bottom: 4px;
    margin-bottom: 1px;
}

.report-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1224px) {
    .study-list-container{
        width: 50%;
    }
    .report-container {
        width: 50%;
    }
}