/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
@import "~@angular/cdk/overlay-prebuilt.css";
body{
    background: #2B2B2B;
    margin: 0;
    color: #9A9A9A;
    font-weight: 400;
    /* font-size: 0.583333rem; */
    letter-spacing: normal;
    line-height: 1rem;
    /* margin-top: 1rem; */
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0 !important;
}


textarea:focus {
    outline: none !important;
    border-color: none !important;
    box-shadow: none !important;
}
input:focus {
    outline: none !important;
    border-color: none;
    box-shadow: none;
}
button:focus {
    outline: none !important;
    border-color: none;
    box-shadow: none;
}

/* width */
::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.control-box-custom-dialog .mat-dialog-container {
    background: #212121;
    padding: 0px;
}

.mat-tooltip.tooltip {
    background: #212121;
    border: gray 1px solid;
    color: dodgerblue;
    font-size: 12px;
    font-weight: bold;
}

/* Worklist Filter Dialog custom css */
.filter-text-dialog .mat-dialog-container {
    background-color: whitesmoke;
    overflow: hidden;
    padding: 0px 20px;
}
.filter-text-dialog .mat-dialog-content {
    margin: none;
    padding: none;
}

/* About Lucas Dialog custom css */
.about-dialog .mat-dialog-container {
    background-color: #2d2d2d;
}

/* Common Dialog custom css */
.common-dialog .mat-dialog-container {
    background-color: #2d2d2d;
    position: fixed;
    left: calc(50vw - 150px);
    top: calc(50vh - 100px);
    width: unset;
    height: unset;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .mat-menu-panel .mat-menu-content .mat-menu-item .mat-menu-ripple{
    line-height: 30px;
    border-radius: unset;
    user-select: none;
}

button:focus {
    outline: none;
}

.cdk-overlay-pane {
    z-index: 10000 !important;
}


.study-report-dialog .mat-dialog-container {
    padding: 24px 0px;
    max-height: calc(100vh - 70px);
}